.filter {
    display: none;
}

@media (max-width:450px) {
    .filter {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 99999;
        background-color: white;
        &.active{
            display: block;
        }
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);

            & p {
                font-size: 0;
            }

            & h2 {
                font-size: 14px;
                font-weight: 600;
                font-style: inherit;
            }
            & button{
                border: none;
                background-color: rgba(143, 163, 195, 0.088);
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

        &__body {
            padding: 0px;

            &__type {
                position: relative;
                padding: 15px 15px;
                border-bottom: 1px solid #ddd;

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & h2 {
                        font-family: 'Merriweather';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        color: #000000;
                        padding-bottom: 10px;
                    }

                    &__icon {
                        transform: rotate(270deg);

                        &.active {
                            transform: rotate(90deg);
                        }
                    }
                }

                &__items {
                    height: 0;
                    transition: .2s;
                    padding: 0px 15px;
                    overflow: hidden;
                    &.active {
                        height: auto;
                        opacity: 1;
                        transition: .2s;
                    }
                    &__item{
                        padding: 6px 10px;
                        cursor: pointer;
                        &:hover{
                            background-color: #0000002a;
                            transition: .1s;
                        }
                    }
                }
            }
        }
    }
}